* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #E3E6E1;
}
.wrappergrid{
    display: grid;
    gap: 14px;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
    place-items: center center;
  }

.wrappergrid img{
      width:300px;
      height:auto;
      transition-duration: 0.5s;
  }

.wrappergrid img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
h1{
    text-align: center;
    display: block;
    color: #707070;
    font-size: 70px;
    background-color:#B7C6C7;
    background-position: top;
    text-decoration: none;
  }

  a{
    text-decoration: none;
  }