* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #E3E6E1;
}

h1{
    text-align: center;
    display: block;
    color: #707070;
    font-size: 70px;
    background-color:#B7C6C7;
    background-position: top;
    text-decoration: none;
  }

#G {
    position: absolute;
    top: 550px;
    right: 500px;
    height: 60px;
    text-align: left;
    font-size: 60px;
    font: W4 60px/133px Hiragino Sans;
    letter-spacing: 1.8px;
    color: #707070;
    opacity: 1;
}


  .profile-photo img {
    display: block; 
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 200px;
  }
  
h2{
    color: #707070;
    position: center;
    font-size: 80px;
    margin-left: 220px;
}

ol {
    max-width: 500px;
    position:relative;
    bottom: 400px;
    left: 600px;
    list-style-type: none;
}

ol li{
    color: #707070;
    font-size: 30px;
}

.profile-photo{
    display: inline-block;
    padding: 20px;
}