* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #E3E6E1;
}

h1{
    text-align: center;
    display: block;
    color: #707070;
    font-size: 70px;
    background-color:#B7C6C7;
    background-position: top;
    text-decoration: none;
  }

  #tab a{
      display: inline-block;
      text-align: center;
  }
#P {
    top: 655px;
    left: 311px;
    width: 208px;
    height: 60px;
    text-align: center;
    font-size: 60px;
    font: W4 60px/133px Hiragino Sans;
    letter-spacing: 1.8px;
    color: #707070;
    text-decoration: underline;
    text-decoration-color: #707070;
    opacity: 1;
}

#G {
    top: 655px;
    left: 1378px;
    width: 218px;
    height: 60px;
    text-align: center;
    font-size: 60px;
    font: W4 60px/133px Hiragino Sans;
    letter-spacing: 1.8px;
    color: #707070;
    opacity: 1;
}