* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #E3E6E1;
}
h1{
    text-align: center;
    display: block;
    color: #707070;
    font-size: 70px;
    background-color:#B7C6C7;
    background-position: top;
    text-decoration: none;
  }
  header{
    text-decoration: none;
  }

  .profile-photo img {
    display: block; 
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    margin-top: 180px;
    margin-left: 200px;
  }
  
h2{
    color: #707070;
    position: center;
    font-size: 80px;
    margin-left: 220px;
}

ol {
    list-style-type: none;
}

ol li{
    font-size: 30px;
}

.profile-photo{
    display: inline-block;
    padding: 20px;
}